.header {
    background-color: #2C3E50;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #357ABD;
}

.header h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}