.footer {
    background-color: #2C3E50;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}

.footer p {
    margin: 0;
    font-weight: 500;
}