.homepage {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homepage button {
    background-color: #357ABD;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.homepage button:hover {
    background-color: #4A90E2;
}